<div class="disclaimer card bg-warning text-dark w-75">
  <div class="card-header">
    <h3 class="center-this"><span class="text-danger font-weight-bold">!!!</span>Disclaimer<span class="text-danger font-weight-bold">!!!</span></h3>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>This application is for demonstration purposes ONLY. <span class="text-danger font-weight-bold">It is not compliant with HIPPA standards</span> and should not be used
        in a hospital setting. Patient data could be accessed. The creators of this application will not be held liable for the inappropriate and illegal use of MedHandoff.
      </p>
    </blockquote>
  </div>
</div>