  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout">
        Logout
      </a>
    </div>
  </div>
</nav>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>Welcome <span class="member-name"></span></h2>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-med">
        <h2>Please Choose Your Role</h2>
      </div class="col-med">
    </div>
    <div class="row">
      <div class="col-sm-6">
        <button id="supervisor-btn" type="button" class="btn btn-outline-secondary">Supervisor</button>
      </div>
      <div class="col-sm-6">
        <button id="practitioner-btn" type="button" class="btn btn-outline-secondary">Practitioner</button>
      </div>
      
    </div>
  </div>

 {{#section 'scripts'}}
    <script type="text/javascript" src="js/members.js"></script>
{{/section}}
