  <div class="container">
    <div class="row center-this">
      <div class="col-md underline-this">
        <h1>Welcome <span class="member-name"></span></h1>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-med center-this">
        <h2>Please Choose Your Role</h2>
      </div class="col-med">
    </div>
    <div class="row center-this">
      <div class="col-sm-6">
        <button id="supervisor-btn" type="button" class="btn btn-danger btn-lg">Supervisor</button>
      </div>
      <div class="col-sm-6">
        <button id="practitioner-btn" type="button" class="btn btn-danger btn-lg">Practitioner</button>
      </div>
      
    </div>
  </div>

 {{#section 'scripts'}}
    <script type="text/javascript" src="js/members.js"></script>
{{/section}}
