<h2>Assign Staff</h2>
<table class="table table-striped">
    <thead>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Role</th>
        <th scope="col">Unit</th>
        <th scope="col">Shift</th>
    </thead>

    <tbody id="employee-table"></tbody>

</table>



{{#section 'scripts'}}
<script type="text/javascript" src="js/supervisor.js"></script>
{{/section}}